<h1>Buttons</h1>

<a href="https://cloud.engineyard.com/signup" class="button">Anchor with class "Button"</a> 
<button>Button Tag</button>
<h1>Ordered List</h1>
<ol>
  <li>level 1 ol</li>
    <ol>
      <li>level 2 ol</li>
    </ol>
</ol>
<div id='homepage'> 
<div class='wrapper'> 
<div id='hero'> 
<div class='background'> 
<img alt="" class="appcloud" src="/images/hero_howls.png?1311813848" /> 
</div> 
<div class='wheel'></div> 
<div class='blimp'></div> 
<div class='balloon'></div> 
<div class='text'> 
<h1> 
Build Stunning Apps
</h1> 
<p> 
Our cloud takes care of the rest
</p> 
<p class='controls center'> 
<a href="https://cloud.engineyard.com/signup" class="button trackLink" id="homepage_signup_link">Try it Free</a> 
</p> 
</div> 
</div> 
<div class='section promos'> 
<div class='column'> 
<h2> 
Effortless Rails Deployment
</h2> 
<p> 
Manage and grow your application with
<a href="/products/appcloud">AppCloud</a>,
our most popular Ruby platform.
</p> 
<p> 
Achieve exceptional performance and flexibility with
<a href="/products/xcloud">xCloud</a>.
</p> 
<p class='subtext'></p> 
</div> 
<div class='column'> 
<h2> 
For Developers
</h2> 
<p> 
<a href="/university">Training</a> 
<br> 
<a href="/products/technology">Platform</a> 
<br> 
<a href="http://docs.engineyard.com">Documentation</a> 
</p> 
</div> 
<div class='column'> 
<h2> 
What's New
</h2> 
<p> 
<a href="http://pages.engineyard.com/RubyPlatformOptionsWebinarJuly212011.html">Webinar: MRI, Rubinius &amp; JRuby Throwdown</a> 
</p> 
<hr> 
<p> 
<a href="/blog/2011/engine-yard-growth-through-the-eyes-of-a-child">Multi-Region Support Now Available</a> 
</p> 
</div> 
<div class='column'> 
<h2> 
Videos
</h2> 
<iframe src="http://player.vimeo.com/video/17897544?title=0&amp;byline=0&amp;portrait=0" width="220" height="124" frameborder="0"></iframe> 
</div> 
<div class='clear'></div> 
</div> 
<div class='section customers'> 
<h2> 
Thousands of Delighted Customers
</h2> 
<ul class='customers'> 
<li><a href="/company/customers"><img class="trackLink" src="http://s3.amazonaws.com/engineyard.com/customers/logos/61/grey.png?1295315332" alt="Alliantist" /></a></li> 
<li><a href="/company/customers"><img class="trackLink" src="http://s3.amazonaws.com/engineyard.com/customers/logos/1/grey.png?1295313419" alt="Armadealo" /></a></li> 
<li><a href="/company/customers"><img class="trackLink" src="http://s3.amazonaws.com/engineyard.com/customers/logos/47/grey.png?1295314534" alt="Blue Mango" /></a></li> 
<li><a href="/company/customers"><img class="trackLink" src="http://s3.amazonaws.com/engineyard.com/customers/logos/48/grey.png?1295314567" alt="Brand Potion" /></a></li> 
<li><a href="/company/customers"><img class="trackLink" src="http://s3.amazonaws.com/engineyard.com/customers/logos/39/grey.gif?1292547501" alt="BuyWithMe" /></a></li> 
<li><a href="/company/customers"><img class="trackLink" src="http://s3.amazonaws.com/engineyard.com/customers/logos/5/grey.png?1292547155" alt="Catalog Choice" /></a></li> 
</ul> 
</div> 
</div> 
</div>
