body {
  font: 80% "proxima-nova-1", "proxima-nova-2", Arial, Verdana, sans-serif;
  color: #333333;
  margin: 0;
  background: #fdfdfd; }

.container {
  font-size: 1em;
  line-height: 1.4em;
  min-width: 960px; }

a {
  color: #336699; }
  a:hover {
    text-decoration: underline; }

header, section, footer, nav {
  display: block; }

header {
  background: #810a13;
  background: -webkit-gradient(linear, left top, left bottom, from(#cc0000), to(#990000));
  background: -moz-linear-gradient(top, #cc0000, #990000);
  border-bottom: 2px solid white;
  padding: 1px 20px;
  height: 40px; }
  header h1 {
    font-weight: normal;
    font-size: 1.5em;
    color: white;
    float: left;
    margin-bottom: 0; }
  header small {
    font-size: 1em;
    display: inline-block;
    margin-top: 15px;
    margin-left: 1em; }
    header small a {
      color: white;
      text-decoration: none; }
  header nav {
    float: right;
    padding: 10px 0;
    border: none;
    text-align: right;
    color: white;
    width: auto; }
    header nav ul {
      margin: 0;
      padding: 0; }
    header nav li {
      display: inline-block;
      padding: 0 0 0 1em;
      margin: 5px 0 0 1em;
      border-left: 1px solid #eeeeee; }
      header nav li:first-child {
        border-left: none; }
    header nav a {
      color: white; }
      header nav a:hover {
        color: white;
        background: none;
        text-decoration: underline; }

nav {
  border-right: 1px solid #cccccc;
  width: 120px;
  padding: 20px;
  float: left; }
  nav ul {
    padding: 0; }
  nav li {
    list-style: none;
    margin: 0 0 1em; }
    nav li ul {
      margin: 0; }
    nav li li {
      margin: 0 0 0 0.5em;
      font-size: 0.9em; }
  nav a {
    display: block;
    text-decoration: none;
    color: #666666;
    padding: 0 10px;
    margin: 0 -10px; }
  nav a:hover, nav li.active a {
    color: black;
    background: #eeeeee;
    text-decoration: none; }
  nav .block {
    border-top: 1px solid #eeeeee; }
    nav .block h3 {
      font-weight: normal;
      color: #cccccc;
      margin-bottom: 0.5em; }
    nav .block li {
      font-size: 1em;
      margin-left: 0;
      margin-bottom: 0.5em; }

ul.actions {
  float: right;
  margin-top: -2.5em;
  margin-bottom: 3em; }
  ul.actions li {
    list-style: none;
    display: inline-block;
    margin-left: 1em; }
    ul.actions li:first-child {
      border-left: none; }
    ul.actions li a {
      margin-right: 0; }
  ul.actions.preview {
    margin: 0;
    padding: 0 0 16px;
    float: none;
    text-align: center;
    border-bottom: 1px dashed #dddddd; }
    ul.actions.preview li {
      margin: 0;
      padding: 0px 1em; }

.page {
  width: auto;
  margin-left: 160px;
  padding: 20px 30px;
  border-left: 1px solid #cccccc; }
  .page section {
    float: left;
    width: 100%; }
  .page a:hover {
    background: #336699;
    color: white;
    text-decoration: none; }

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.9em; }

th, td {
  text-align: left;
  padding: 5px; }
  th.actions, td.actions {
    text-align: right;
    white-space: nowrap; }
    th.actions a, td.actions a {
      margin-left: 1em; }
  th img, td img {
    margin: -7px 0 -10px;
    max-width: 26px;
    max-height: 26px; }

thead th {
  text-transform: uppercase;
  border-bottom: 1px solid #cccccc; }
  thead th a.sortable {
    color: #333333;
    padding-right: 12px;
    text-decoration: none; }
    thead th a.sortable.active, thead th a.sortable:hover {
      color: black;
      background: none; }
    thead th a.sortable.asc {
      background: transparent url(/engineyard-theme/images/icn-asc.png) no-repeat right 3px; }
    thead th a.sortable.desc {
      background: url(/engineyard-theme/images/icn-dsc.png) no-repeat right 3px; }

tbody td {
  border-bottom: 1px dotted #cccccc;
  padding: 5px 5px;
  vertical-align: top; }
tbody tr:nth-child(even) {
  background: #f6f6f6; }
tbody tr.pending {
  background: #ffffe5; }
tbody tr.draft {
  color: #666666; }

table.layout {
  width: auto; }
  table.layout tr, table.layout td, table.layout th {
    border: none;
    background: none;
    padding: 0;
    margin: 0; }

table.textile {
  font-size: 1em;
  position: absolute;
  margin-top: 6px;
  margin-left: 540px; }
  table.textile * {
    margin: 0;
    padding: 0; }
  table.textile th {
    padding: 5px; }
  table.textile td {
    font-size: 80%;
    padding: 5px;
    border-top: 1px dashed #dddddd; }
  table.textile ul, table.textile ol {
    margin-left: 1.5em; }
  table.textile ul li {
    list-style: square; }
  table.textile ol li {
    list-style: decimal; }
  table.textile em {
    color: #333333; }

form em {
  display: block;
  color: #999999; }
form ul {
  padding: 0;
  margin: 10px 0; }
  form ul.inline li {
    display: inline-block;
    vertical-align: top;
    margin-right: 1.5em;
    margin-bottom: 0.5em;
    width: 120px; }
form li {
  clear: both;
  list-style: none;
  margin-bottom: 0.5em; }
  form li input, form li label {
    display: inline; }
  form li input {
    margin: 1px 5px 5px 0;
    float: left; }

label {
  display: block;
  margin: 15px 5px 0 0;
  color: #999999; }
  label.optional:after {
    content: " (optional)"; }

input[type="text"], input[type="url"], input[type="email"], input[type="password"], select {
  font-size: 1.2em;
  font-family: "proxima-nova-1", "proxima-nova-2", Arial, Verdana, sans-serif;
  margin: 6px 5px 0 0;
  color: #333333; }
  input[type="text"].title, input[type="url"].title, input[type="email"].title, input[type="password"].title, select.title {
    font-size: 1.75em; }
  input[type="text"].title, input[type="text"].long, input[type="url"].title, input[type="url"].long, input[type="email"].title, input[type="email"].long, input[type="password"].title, input[type="password"].long, select.title, select.long {
    width: 500px; }
  input[type="text"][id="cloud_api_url"], input[type="url"][id="cloud_api_url"], input[type="email"][id="cloud_api_url"], input[type="password"][id="cloud_api_url"], select[id="cloud_api_url"] {
    width: 600px; }

select {
  font-size: 1em; }

fieldset {
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #dddddd;
  padding: 0 0 20px; }

legend {
  padding-top: 30px; }

input[type="submit"], a.button {
  color: #333333;
  text-decoration: none;
  text-shadow: 0 1px 0px white;
  border: 1px solid #ddcc00;
  padding: 5px 20px;
  margin-right: 1em;
  -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2), inset 1px 1px 1px rgba(255, 255, 255, 0.75), inset -1px -1px 1px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2), inset 1px 1px 1px rgba(255, 255, 255, 0.75), inset -1px -1px 1px rgba(0, 0, 0, 0.25);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  background: #eeeeee;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#ffcc00));
  background: -moz-linear-gradient(top, white, #ffcc00);
  cursor: pointer; }
  input[type="submit"]:hover, a.button:hover {
    color: black;
    background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(60%, #ffcc00));
    background: -moz-linear-gradient(top, white, #ffcc00 60%); }

textarea {
  width: 520px;
  height: 500px;
  font: 1em/1.4em "proxima-nova-1", "proxima-nova-2", Arial, Verdana, sans-serif; }
  textarea.summary {
    height: 240px; }

.categories {
  list-style: none;
  padding: 0; }
  .categories li {
    background: -webkit-gradient(linear, left top, left bottom, from(#999999), to(#c9c9c9));
    background: -moz-linear-gradient(top, #999999, #c9c9c9);
    padding: 10px 5px 6px;
    margin-bottom: 10px;
    border: 1px solid #999999;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px; }
    .categories li li {
      background: none;
      border: none;
      padding: 0;
      margin: 0; }
  .categories h3 {
    color: white;
    padding: 10px 0 5px 7px;
    margin: -10px -5px -5px; }
    .categories h3 small {
      margin-left: 5px; }
    .categories h3:hover {
      cursor: move;
      background-image: url(/engineyard-theme/images/bg-dragbar.png);
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(60, 60, 60, 0.75)), to(rgba(60, 60, 60, 0)));
      background: -moz-linear-gradient(top, rgba(60, 60, 60, 0.75), rgba(60, 60, 60, 0)); }
  .categories ul.actions {
    margin: -1.7em 10px 0; }
    .categories ul.actions li {
      padding: 0;
      margin: 0;
      border: none;
      background: none; }
  .categories ul.actions, .categories small {
    font-size: 11px;
    font-weight: normal; }
  .categories h3 a, .categories .reverse a {
    color: white; }
    .categories h3 a:hover, .categories .reverse a:hover {
      background: white;
      color: #333333; }
  .categories.ui-sortable {
    padding: 10px;
    margin: -10px; }
  .categories .components li, .categories .placeholder {
    padding: 10px;
    margin: 0 0 5px;
    border: 1px solid #dddddd;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(#efefef));
    background: -moz-linear-gradient(top, white, #efefef); }
    .categories .components li p, .categories .placeholder p {
      margin: 5px 0; }
    .categories .components li:last-child, .categories .placeholder:last-child {
      margin-bottom: 0; }
  .categories .placeholder {
    margin: 5px 0;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px; }
  .categories .components {
    padding: 0;
    margin: 0;
    list-style: none; }
    .categories .components ul.actions {
      margin-right: 0; }
    .categories .components h4 {
      margin: -10px -10px -5px;
      padding: 10px 10px 5px;
      cursor: move; }
      .categories .components h4:hover {
        background: url(/engineyard-theme/images/bg-dragbar.png) repeat-x; }
    .categories .components .versions {
      border-top: 2px solid #cccccc;
      margin-top: 5px; }
      .categories .components .versions tbody tr, .categories .components .versions tbody td {
        background: none; }
      .categories .components .versions tbody tr:hover td {
        background: #f3fbfd; }
      .categories .components .versions tbody td:first-child {
        width: 140px; }
      .categories .components .versions .full, .categories .components .versions .beta, .categories .components .versions .experimental, .categories .components .versions .unsupported {
        text-transform: capitalize; }
      .categories .components .versions .full {
        color: #669900; }
      .categories .components .versions .beta {
        color: #cc9900; }
      .categories .components .versions .experimental {
        color: #990000; }
      .categories .components .versions .unsupported {
        color: #999999; }

.heading a, .versions tr a {
  visibility: hidden; }
.heading:hover a, .versions tr:hover a {
  visibility: visible; }

.floating {
  -moz-box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5); }

.note {
  color: #999999;
  font-size: 0.9em;
  line-height: 1.4em; }
  .note a {
    color: #999999; }
    .note a:hover {
      color: #666666;
      background: none;
      text-decoration: underline; }

hr {
  border: none;
  border-top: 1px solid #dddddd;
  margin: 1.5em 0; }

.action {
  display: inline-block;
  background: #eeeeee;
  padding: 3px 10px;
  cursor: pointer;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: 1px solid #eeeeee;
  text-shadow: 0 -1px 0 white; }
  .action:hover {
    color: black;
    background: #dddddd;
    background: -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#dddddd));
    background: -moz-linear-gradient(top, #fdfdfd, #dddddd);
    border: 1px solid #cccccc;
    -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.1); }

.collapsable {
  background: url(/engineyard-theme/images/icon-open.png) no-repeat left center;
  padding-left: 15px;
  cursor: pointer; }
  .collapsable.closed {
    background: url(/engineyard-theme/images/icon-closed.png) no-repeat left center; }

.avatar label {
  margin-top: 0; }

.halfColumn {
  width: 280px;
  display: inline-block;
  vertical-align: top; }

.pagination {
  text-align: center;
  border-top: 1px solid #dddddd;
  padding: 20px 0; }

.clear {
  display: block;
  width: 100%;
  clear: both; }

div.error, div.errorExplanation, div#error_explanation, div#notice, span.error, span.errorExplanation, span#error_explanation, span#notice, p.error, p.errorExplanation, p#error_explanation, p#notice {
  -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1); }
div#notice, span#notice, p#notice {
  padding: 10px;
  margin-bottom: 30px;
  background: #ffffcc;
  -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1); }
div.error, div.errorExplanation, div#error_explanation, span.error, span.errorExplanation, span#error_explanation, p.error, p.errorExplanation, p#error_explanation {
  padding: 1px 15px;
  background: #ffeeee;
  color: #990000; }
  div.error h2, div.errorExplanation h2, div#error_explanation h2, span.error h2, span.errorExplanation h2, span#error_explanation h2, p.error h2, p.errorExplanation h2, p#error_explanation h2 {
    font-size: 1.1em; }

.field_with_errors {
  display: inline; }
  .field_with_errors label {
    color: #990000;
    font-weight: 700; }

.left {
  float: left;
  margin-right: 15px; }

.right {
  float: right;
  margin-left: 15px; }

.alignRight {
  text-align: right; }

.center {
  text-align: center; }

.hidden {
  display: none; }
