.estimator .panel {
  margin: 1em 0 2em;
  width: auto;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#f6f6f6));
  background: -moz-linear-gradient(top, white, #f6f6f6); }
  .estimator .panel p:last-child {
    margin-bottom: 0; }
.estimator .tabs {
  border-bottom: 1px solid #dddddd;
  list-style: none;
  font-size: 1.25em;
  padding: 0; }
.estimator .tab {
  border: 1px solid #eeeeee;
  border-bottom: none;
  padding: 5px 10px;
  margin: 0 0 -1px 5px;
  display: inline-block;
  color: #999999; }
  .estimator .tab:hover {
    color: #333333;
    cursor: pointer; }
  .estimator .tab.selected {
    color: #333333;
    border-color: #dddddd;
    border-bottom: 1px solid #fefefe; }
.estimator .configuration {
  list-style: none;
  padding-left: 0; }
  .estimator .configuration li {
    display: inline-block;
    vertical-align: top;
    width: 218px;
    margin-right: 10px;
    padding: 10px;
    background: white;
    border: 1px solid white;
    min-height: 120px; }
    .estimator .configuration li h5 {
      margin: 0; }
    .estimator .configuration li p {
      font-size: 0.9em;
      line-height: 1.4em;
      margin-top: 1em; }
    .estimator .configuration li.selected {
      background: -webkit-gradient(linear, left top, left bottom, from(white), to(#ffffee));
      background: -moz-linear-gradient(top, white, #ffffee);
      border: 1px solid #cccccc; }
    .estimator .configuration li:hover {
      cursor: pointer;
      border: 1px solid #eeeeee; }
.estimator #customize {
  margin: 25px 0; }
  .estimator #customize label {
    margin-top: 0; }
.estimator #details {
  width: 60%;
  margin: 0 auto;
  border-bottom: 1px solid #eeeeee; }
  .estimator #details td:last-child {
    text-align: right; }
.estimator #server_size {
  list-style: none;
  margin: 0;
  padding-left: 0; }
  .estimator #server_size li {
    display: inline-block;
    margin-right: 1em; }

#pricingEstimator {
  margin-top: 30px; }
  #pricingEstimator #plan {
    padding: 20px;
    border: 1px solid #dddddd;
    border-bottom: none;
    height: 3em;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(#ffffee));
    background: -moz-linear-gradient(top, white, #ffffee); }
  #pricingEstimator h2, #pricingEstimator .h2 {
    margin: 0;
    line-height: 0.75em;
    float: left; }
    #pricingEstimator h2 small, #pricingEstimator .h2 small {
      color: #999999;
      font-size: 0.5em; }
  #pricingEstimator #total {
    float: right;
    font-size: 2.3em;
    font-weight: bold;
    margin-top: 1px; }
  #pricingEstimator fieldset {
    margin: 0; }
  #pricingEstimator input[type="text"] {
    border: none;
    background: none;
    display: inline;
    clear: none;
    margin: 0; }
  #pricingEstimator button {
    font-size: 1.2em;
    border: 1px solid #dddddd;
    height: 24px;
    width: 24px;
    padding: 0;
    padding-bottom: 4px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none; }
    #pricingEstimator button.minus {
      margin-right: -1px;
      -moz-border-radius: 4px 0 0 4px;
      -webkit-border-radius: 4px 0 0 4px; }
    #pricingEstimator button.plus {
      -moz-border-radius: 0 4px 4px 0;
      -webkit-border-radius: 0 4px 4px 0; }
    #pricingEstimator button[disabled] {
      opacity: 0.5; }
  #pricingEstimator table h4 {
    margin: -20px -20px 20px;
    padding: 5px 20px;
    background: -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#eeeeee));
    background: -moz-linear-gradient(top, #fdfdfd, #eeeeee);
    border-bottom: 1px solid #dddddd; }
  #pricingEstimator table td {
    padding: 20px;
    border: 1px solid #dddddd; }
  #pricingEstimator .serverCount {
    margin: 10px 0; }
  #pricingEstimator #servers div {
    margin: 20px 0; }
  #pricingEstimator #servers input[type="text"] {
    text-align: right;
    width: 1.75em;
    margin-right: 0.5em; }
  #pricingEstimator #bandwidth input[type="text"], #pricingEstimator #backups input[type="text"] {
    width: 100px; }
  #pricingEstimator #bandwidth {
    padding-bottom: 15px; }
  #pricingEstimator #backups h4 {
    margin-top: 0;
    border-top: 1px solid #dddddd; }
  #pricingEstimator #backups #total_backups {
    width: 2em; }
  #pricingEstimator .slider {
    background: url("/images/estimator-widget.png") no-repeat scroll left top transparent;
    height: 26px;
    width: 226px;
    margin: 10px 0;
    padding: 0 10px; }
    #pricingEstimator .slider a {
      display: block;
      width: 20px;
      height: 30px;
      top: -3px;
      padding: 0;
      margin-left: -11px;
      position: relative;
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
      -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); }
      #pricingEstimator .slider a.ui-state-hover, #pricingEstimator .slider a.ui-state-active, #pricingEstimator .slider a.ui-state-focus {
        border-color: #999999;
        -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
        -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); }
  #pricingEstimator hr {
    margin: 20px 0 14px; }
  #pricingEstimator #support ul {
    list-style: none;
    padding-left: 0; }
  #pricingEstimator #support li {
    margin-bottom: 1.5em;
    font-size: 1.4em;
    line-height: 1.4em; }
    #pricingEstimator #support li span {
      display: block;
      padding-left: 26px; }
