/* Migration Page */
.migration {
  margin-top: 20px; }
  .migration .timeline {
    float: left;
    margin-bottom: 100px; }
  .migration div, .migration .note {
    position: absolute;
    width: 620px;
    margin-left: 200px; }
  .migration .note {
    font-size: 1.1em;
    line-height: 1.4em;
    padding: 10px;
    margin: 0 0 0 200px;
    border: none;
    background: #f9f9f9;
    color: #333333; }
  .migration h3 {
    font-size: 1.2em;
    margin: 0; }
  .migration ul {
    padding: 0 0 0 1em;
    margin-top: 10px; }
  .migration li {
    margin: 0; }
  .migration .warning {
    line-height: 1.3em; }
  .migration #agree {
    margin-top: 84px; }
    .migration #agree h3 {
      color: #666666; }
  .migration #clone {
    margin-top: 227px; }
    .migration #clone h3 {
      color: #666666; }
  .migration #test {
    margin-top: 379px; }
    .migration #test h3 {
      color: #ff9900; }
  .migration #sync {
    margin-top: 569px; }
    .migration #sync h3 {
      color: #ff9900; }
  .migration #switch {
    margin-top: 779px; }
    .migration #switch h3 {
      color: #669900; }
  .migration #shutdown {
    margin-top: 944px; }
