// Use // instead of /* */ to hide from production

// --------------------------------------------------

/* BUTTONS
// - Button Mixins / Variables
// - Styles

// --------------------------------------------------



// --------------------------------------------------
// Button Mixins / Variables
// --------------------------------------------------

$button-radius                    = 3px
$button-box-shadow-value          = 0 1px 2px darken($color-border, 20%)
$button-colored-box-shadow-value  = 0 1px 2px darken($color-background-alt, 22%)

@mixin button
  position: relative
  display: inline-block
  padding: 2px 12px
  border: 1px solid $color-border
    bottom-color: darken($color-border, 5%)
  -moz-border-radius: $button-radius
  -webkit-border-radius: $button-radius
  border-radius: $button-radius
  background: $color-border
  background: -moz-linear-gradient(top, lighten($color-border, 20%), $color-border)
  background: -webkit-gradient(linear, left top, left bottom, from(lighten($color-border, 20%)), to($color-border))
  -moz-box-shadow: $button-box-shadow-value
  -webkit-box-shadow: $button-box-shadow-value
  box-shadow: $button-box-shadow-value
  font-size: $font-size-main
  line-height: $line-height
  text-decoration: none
  text-shadow: 0 1px 2px lighten($color-border, 20%)
  cursor: pointer
  z-index: 2
  &, span
    color: $color-text

@mixin button-active
  border-color: darken($color-border, 2.5%)
  background: darken($color-border, 2.5%)
  background: -moz-linear-gradient(top, lighten($color-border, 17.5%), darken($color-border, 2.5%))
  background: -webkit-gradient(linear, left top, left bottom, from(lighten($color-border, 17.5%)), to(darken($color-border, 2.5%)))
  &, span
    color: darken($color-text, 2.5%)

@mixin button-hover
  border-color: darken($color-border, 5%)
  background: darken($color-border, 5%)
  background: -moz-linear-gradient(top, lighten($color-border, 15%), darken($color-border, 5%))
  background: -webkit-gradient(linear, left top, left bottom, from(lighten($color-border, 15%)), to(darken($color-border, 5%)))
  &, span
    color: darken($color-text, 5%)

@mixin button-disabled
  cursor: not-allowed
  border-color: lighten($color-border, 5%)
  background: lighten($color-border, 8%)
  background: -moz-linear-gradient(top, lighten($color-border, 30%), lighten($color-border, 12%))
  background: -webkit-gradient(linear, left top, left bottom, from(lighten($color-border, 30%)), to(lighten($color-border, 12%)))


@mixin button-colored
  border: 1px solid darken($color-background-alt, 14%)
    bottom-color: darken($color-background-alt, 20%)
  background: lighten($color-background-alt, 5%)
  background: -moz-linear-gradient(top, lighten($color-background-alt, 12%), darken($color-background-alt, 15%))
  background: -webkit-gradient(linear, left top, left bottom, from(lighten($color-background-alt, 12%)), to(darken($color-background-alt, 15%)))
  // blue buttons don't necessarily cast blue shadows! blue shadows only on blue backgrounds. :)
  -moz-box-shadow: $button-box-shadow-value
  -webkit-box-shadow: $button-box-shadow-value
  box-shadow: $button-box-shadow-value
  text-shadow: 0 1px 2px $color-background-alt
  &, span
    color: darken($color-text-callout, 10%)

@mixin button-colored-active
  border: 1px solid darken($color-background-alt, 17.5%)
    bottom-color: darken($color-background-alt, 27.5%)
  background: darken($color-background-alt, 2.5%)
  background: -moz-linear-gradient(top, lighten($color-background-alt, 2.5%), darken($color-background-alt, 22.5%))
  background: -webkit-gradient(linear, left top, left bottom, from(lighten($color-background-alt, 2.5%)), to(darken($color-background-alt, 22.5%)))
  &, span
    color: darken($color-text-callout, 12.5%)

@mixin button-colored-hover
  border: 1px solid darken($color-background-alt, 20%)
    bottom-color: darken($color-background-alt, 30%)
  background: darken($color-background-alt, 5%)
  background: -moz-linear-gradient(top, lighten($color-background-alt, 5%), darken($color-background-alt, 25%))
  background: -webkit-gradient(linear, left top, left bottom, from(lighten($color-background-alt, 5%)), to(darken($color-background-alt, 25%)))
  &, span
    color: darken($color-text-callout, 15%)

// reset button from colored back to grey, without taking all the extra styles with it.
@mixin button-revert
  border-color: $color-border
  background: $color-border
  background: -moz-linear-gradient(top, lighten($color-border, 20%), $color-border)
  background: -webkit-gradient(linear, left top, left bottom, from(lighten($color-border, 20%)), to($color-border))
  -moz-box-shadow: $button-box-shadow-value
  -webkit-box-shadow: $button-box-shadow-value
  box-shadow: $button-box-shadow-value
  &, span
    color: $color-text

@mixin button-big-submit
  padding: 6px 24px
  @include big-chunky-rounded-box
  font-size: $font-size-h4
  line-height: 1.25

@mixin button-big-colored-submit
  @include button-colored
  @include button-big-submit

@mixin button-big-colored-submit-active
  @include button-colored-active

@mixin button-big-colored-submit-hover
  @include button-colored-hover

// reset button from big to small, without taking all the extra styles with it.
@mixin button-size-revert
  padding: 2px 12px
  @include rounded-box
  font-size: $font-size-main
  line-height: $line-height



// --------------------------------------------------
// Styles
// --------------------------------------------------

button
  width: auto
  overflow: visible

button, a.button
  @include reset
  @include button
  &:focus, &:hover
    @include button-hover
  &:active
    @include button-active
    outline: 0

button.action, a.action
  @include button-colored
  &:focus, &:hover
    @include button-colored-hover
  &:active
    @include button-colored-active

.envTitle
  .button a
    // blue shadow for blue bg!
    -moz-box-shadow: $button-colored-box-shadow-value
    -webkit-box-shadow: $button-colored-box-shadow-value
    box-shadow: $button-colored-box-shadow-value
  .attention a
    @include button-revert
    // blue shadow
    -moz-box-shadow: $button-colored-box-shadow-value
    -webkit-box-shadow: $button-colored-box-shadow-value
    box-shadow: $button-colored-box-shadow-value
    border-bottom-color: darken($color-border, 10%)
    &:focus, &:hover
      @include button-hover
      border-bottom-color: darken($color-border, 10%)
    &:active
      @include button-active
    span
      position: relative
      margin: 0 0 0 -2px
      display: block
      padding: 0 0 0 24px
      background: url(../images/bg_alert-bang.png) 0 2px no-repeat

.controls
  button, a.button
    @include button-big-colored-submit
    &:hover, &:focus
      @include button-big-colored-submit-hover
    &:active
      @include button-big-colored-submit-active
  a.cancel
    @include button-revert
    &:hover, &:focus
      @include button-hover
    &:active
      @include button-active
#cancel
  .controls
    button, a.button
      @include button-revert
      &:hover, &:focus
        @include button-hover
      &:active
        @include button-active
    button.cancel
      @include button-big-submit
      @include button-big-colored-submit
      &:focus, &:hover
        @include button-big-colored-submit-hover
      &:active
        @include button-big-colored-submit-active

button.submit, a.submit
  @include button-big-submit

td
  button, input[type="submit"]
    padding: 1px 6px
    vertical-align: middle

.deploy_button.disabled
  @include button-revert
  @include button-disabled
